{% extends "base_generic.html" %}

{% load rebus_extras %}

{% block title %}{{ location.get_title }}{% endblock %}

{% block content %}
<h2>Oppgaver</h2>
{% if location_list %}
    {% for location in location_list %}
    {% location_completed location user as location_completed_flag %}
<details class="location{% if location_completed_flag %} correct{% endif %}" {% if location_completed_flag is False %}open{% endif %}>
    <summary>
        <a href="{% url 'rebus:location-detail' location.pk %}">{{ location.get_title }}</a>
    </summary>
    <p class="problemcount">Dere har gjort {% problems_completed location user %} av {{ location.get_problem_count }} oppgaver</p>
</details>
    {% endfor %}
{{ location_list|length }} steder å besøke

{% endif %}
{% endblock %}