{% extends "base_generic.html" %}

{% block title %}{{ location.get_title }}{% endblock %}

{% block content %}
<h2>Oppgaver</h2>
{% if location_list %}
    {% for location in location_list %}
    <details class="location">
        <summary>
            <a href="{% url 'rebus:location-detail' location.pk %}">{{ location.get_title }}</a>
        </summary>
        <p class="problemcount">{{ location.get_problem_count }} oppgaver</p>
    </details>
    {% endfor %}
    {{ location_list|length }} steder å besøke

{% endif %}
{% endblock %}