{% extends "base_generic.html" %}

{% load rebus_extras %}

{% block title %}Oppgaver &ndash; {{ user.extendeduser.team_name }}{% endblock %}

{% block back %}<a href="{% url 'index' %}" class="back">&lsaquo;</a>{% endblock %}

{% block content %}
<div class="content">
    <h2>Oppgaver</h2>
    {% if location_list %}
    {% for location in location_list %}
    {% location_completed location user as location_completed_flag %}
    <details class="location{% if location_completed_flag %} correct{% endif %}" {% if location_completed_flag is False %}open{% endif %}>
        <summary>
            <h3>{% location_title location user %}</h3>
        </summary>
        <div>
            <p class="problemcount">Dere har gjort {% problems_completed location user %} av {{ location.get_problem_count }} oppgaver.</p>
            <a class="gavidere" href="{% url 'rebus:location-detail' location.pk %}">Se oppgavene</a>
        </div>
    </details>
    {% endfor %}
    <p>{{ location_list|length }} steder å besøke.</p>

    {% endif %}
</div>
{% endblock %}