{% extends "base_generic.html" %}

{% load rebus_extras %}

{% block title %}{{ location.get_title }}{% endblock %}

{% block content %}
<p><a href="{% url 'rebus:location-list' %}">Alle oppgaver</a></p>

<h2>{{ location.get_title }}</h2>
{{ location.description|safe }}

    {% for problem in location.geoproblem_set.all %}
        {% responded_correctly problem user as responded_correctly_flag %}
<details {% if responded_correctly_flag %}class="correct" {% endif %}>
    <summary>{{ problem.title }}</summary>
    {{ problem.description|safe }}
    <button class="submit find-me" onclick="geoProblemSubmit({{problem.pk}})">Vi er her</button>
    <p id="lblgeo{{problem.pk}}"></p>
</details>
    {% endfor %}
    {% for problem in location.knowledgetextproblem_set.all %}
        {% responded_correctly problem user as responded_correctly_flag %}
<details {% if responded_correctly_flag %}class="correct" {% endif %}>
    <summary>{{ problem.title }}</summary>
    {{ problem.description|safe }}
    <input type="text" id="text{{problem.pk}}" name="text{{problem.pk}}">
    <button class="submit textproblem" onclick="textProblemSubmit({{problem.pk}})">Send inn svar</button>
    <p id="lbltext{{problem.pk}}"></p>
</details>
    {% endfor %}
    {% for problem in location.knowledgenumberproblem_set.all %}
        {% responded_correctly problem user as responded_correctly_flag %}
<details {% if responded_correctly_flag %}class="correct" {% endif %}>
    <summary>{{ problem.title }}</summary>
    {{ problem.description|safe }}
    <input type="number" id="number{{problem.pk}}" name="number{{problem.pk}}">
    <button class="submit numberproblem" onclick="numberProblemSubmit({{problem.pk}})">Send inn svar</button>
    <p id="lblnumber{{problem.pk}}"></p>
</details>
    {% endfor %}
    {% for problem in location.openproblem_set.all %}
        {% responded_correctly problem user as responded_correctly_flag %}
<details {% if responded_correctly_flag %}class="correct" {% endif %}>
    <summary>{{ problem.title }}</summary>
    {{ problem.description|safe }}
    <button class="submit openproblem" onclick="openProblemSubmit({{problem.pk}})">Registrer utført</button>
    <p id="lblopen{{problem.pk}}"></p>
</details>
    {% endfor %}
{% endblock %}
